html {
  height: 100vh;
}

body {
  height: 100%;
}

main {
  width: 60%;
  margin-inline: auto;
  height: 100%;
  margin: auto;
}

header {
  display: flex;
  
}

#timer {
  position: relative;
  right: 0;
  font-size: 1.5em;
}

ul {
  list-style: none;
}

/* pops up for a short time after player selects quiz item  */
#quiz-list.timer::after {
  border-top: 2px solid grey;
  color: grey;
}

li {
  margin-bottom: 5px;
}

button {
  background-color: blue;
  color: white;
  border-radius: 10px;
}
